<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject2"
        tools:targetApi="31">
        <activity
            android:name=".Products.SmartphoneActivity"
            android:exported="false" />
        <activity
            android:name=".Products.ComputerActivity"
            android:exported="false" />
        <activity
            android:name=".Products.ShoesMenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.ShoesWomenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.TshirtsWomenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.BottomwearMenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.BottomwearWomenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.FormalsMenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.FormalsWomenActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessLoginStaf"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StafLogin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.AdminLoginPagesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminMain"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".User.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".User.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HalamanAwal"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.AdminAddStaffActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.AdminAddStockActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Products.CategoryMenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.CategoryWomenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.OtheritemsActivity"
            android:exported="false" />
        <activity
            android:name=".Products.BooksActivity"
            android:exported="false" />
        <activity
            android:name=".Products.ElectronicsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Products.ClothingActivity"
            android:exported="false" />
        <activity
            android:name=".Products.TshirtsMenActivity"
            android:exported="false" />
        <activity
            android:name=".Products.HomepageActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>